/* "seperate" documentation is at the bottom of the page in comments */
/* list of psuedo and other req items at bottom */

body {
    background-color: grey;
    overflow: hidden
}

h2 {
    margin: 5px;
}

.flex {
    display: flex;
    background-color: darkgrey;
    margin: 10px;
}

#head {
    justify-content: space-between; 
    /* makes the list at the top, the nav bar, have space inbetween */
}

#head>div {
    background-color: lightgrey;
    margin: 10px;
    flex: 1;
}

#head>div:hover{
    background-color: aquamarine;
    /* when hovering over heading items it changes the color */
}

#center {
    background-color: darkgrey;
    height: 400px;
    align-items: center;
    justify-content: center;
    transition: .2s;
    /* align and justify used to center the center element along with the transition being there to slow down the transition */
}

#center>div {
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    text-align: center;
    align-content: center;
    transition: .2s;
}

#center>div:hover{
    background-color: red;
    color: white;
    font-size: 32px;
    /* when hovering the center the color will change to red with white text twice the size */
}

#center>div:active{
    background-color: green;
    scale: 4;
    /* this psuedo class is used to change the button to green and 4x the size when you click the button */
}


/* begin lists */


#listheading{
    height: auto;
    margin-bottom: 0px;
    justify-content: space-around;
}

#lists {
    background-color: darkgrey;
    height: 300px;
    margin-top: 0px;
}

#lists>div {
    background-color: lightgrey;
    margin: 10px;
    flex: 1;
}

.alist>div{
    background-color: slategrey;
    flex: 1;
    align-content: center;
    transition: .2s;
}
#list2>div:last-of-type{
    background-color: grey;
    /* this psuedo class is getting the last div item along the code in list 2 and setting it to grey background, but because its column reversed, it appears at the top */
}

/* ------------------------------------- */

#list1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#list1>div:nth-child(odd){
    background-color: white;
}

#list1>div:hover{
    flex: 2;
    background-color: darkslategrey;
    color: white;
}

/* ------------------------------------- */

#list2{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

#list2>div:nth-child(even){
    background-color: white;
}

#list2>div:hover{
    flex: 2;
    background-color: darkslategrey;
    color: white;
}

/* ------------------------------------- */

#list3{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#list3>div:nth-child(odd){
    background-color: white;
}

#list3>div:hover{
    flex: 2;
    background-color: darkslategrey;
    color: white;
}


/* 
    flex propertys
 - display: flex; | allows container item to be used for flex boxes along with the child
 - justify-content: "value" | allows alignment of child objects on x axis
 - flex: "number" | sets a objects size relative to other objects using a incrementing number system set by user
 - align-items: "value" | allows for object alignment on the y axis
 - transition: "value" | sets a time to transition between regular and suedo class
 
    psuedo class time
    :hover - changes when you hover over said item
    :active - changes when you click on the element
    :last-of-type - gets the last child element of the type and changes it

*/